{% extends "base.html" %}
{% block content %}
<body>
    <header>
        <h1>List of registered OpenWRT devices</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th colspan=7>Devices</th>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>IP</td>
                    <td>OS</td>
                    <td>System</td>
                    <td>Run command</td>
                    <td>Clients</td>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('metrics', id=loop.index) }}">{{ device.name }}</a></td>
                    <td>{{ device.last_ip }}</td>
                    <td>{{ device.os }}</td>
                    <td>{{ device.system }}</td>
                    <td>
                        {% if executed %}
                            {{ form }}
                        {% else %}
                        <form method="POST">
                            {{ form.csrf_token }}
                            {{ form.command.label }} {{ form.command }}
                            <button type="submit">Run</button>
                        </form>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('clients', id=loop.index) }}">Clients</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <th colspan=6><a href="{{ url_for('create_new_device') }}">Create device</a></th>
            </tfoot>
        </table>
    </main>
</body>
{% endblock %}
