{% extends "base.html" %}
{% block content %}
<body>
    <header>
        <h2>Device metrics</h2>
    </header>
    <main>
        <header>
            <h3>General metrics</h3>
        </header>
        <table>
            <tbody>
                {% for key, value in metrics.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <header>
            <h3>Conntrack info</h3>
        </header>
        <table>
            <tbody>
                <tr>
                    {% for header in conntrack.0.keys() %}
                    <td>{{ header }}</td>
                    {% endfor %}
                </tr>
                {% for conn in conntrack %}
                    <tr>
                    {% for data in conn.values() %}
                        <td>{{ data }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
{% endblock %}
