{% extends "base.html" %}
{% block content %}
{% from "errors.html" import with_errors %}
<body>
    <main>
        <form method="post">
            {{ form.csrf_token }}
            <header>
                <h2>Create a new device</h2>
            </header>
            <div>
                {{ form.name.label }}
                {{ with_errors(form.name, require=True) }}
            </div>
            <div>
                {{ form.organization.label }}
                {{ form.organization(readonly=True, size=40, value="72398cf6-a574-41ff-8cfd-65cdfdff39b9") }}
            </div>
            <div>
                {{ form.mac_address.label }}
                {{ with_errors(form.mac_address, require=True) }}
            </div>
            <button>Create</button>
        </form>
    </main>
</body>
{% endblock %}
