{% extends "base.html" %}
{% block content %}
<body>
    <header>
        <h1>Welcome to the OpenWISP Control Panel!</h1>
    </header>
    <main>
        <section>
            <header>
                <p>Click the links below to continue</p>
            </header>
            <nav>
                <ul>
                    <li><a href="/devices">OpenWRT devices</a></li><br>
                    <li><a href="/templates">OpenWRT configuration templates</a></li>
                </ul>
            </nav>
        </section>
    </main>
</body>
{% endblock %}
