{% extends "base.html" %}
{% block content %}
<body>
    <header>
        <h1>List of registered OpenWRT devices</h1>
    </header>
    <section>
        <table>
            <thead>
                <th colspan=5>Devices</th>
            </thead>
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>IP</th>
                    <th>OS</th>
                    <th>System</th>
                </tr>
                {% for device in devices %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="/devices/{{ loop.index }}">{{ device.name }}</a></td>
                    <td>{{ device.last_ip }}</td>
                    <td>{{ device.os }}</td>
                    <td>{{ device.system }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <th colspan=5><a href="/devices/create">Create device</a></th>
            </tfoot>
        </table>
    </section>
    <header>
    {% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </header>
</body>
{% endblock %}
